<div style="max-width:8in;margin-left:auto;margin-right:auto">
<center>
<h1>
Courts Act 2023
</h1>
This act institutes three types of courts.
</center>
<h2 align=center>
Criminal Courts
</h2>
<ol type="b">
<li><p>Criminal courts determine if a person or legal entity committed an offense and hand down a reasonable sentence within sentancing guidelines if they are found guilty.</p></li>
<li><p>A criminal court is composed of a prosecution, defense and a judge.</p></li>
<li><p>The judge of a criminal court determines the guilt of the defendant in each case. If a guilty verdict is handed down, the severity of the sentence must be proportional to that of the crime and not fall outside of sentencing guidelines of the offence they are charged under.</p></li>
<li><p>At the start of each trial, the defendant must plead guilty or not guilty. If the defendant pleads not guilty, the trial continues as normal. If the defendant pleads guilty, the judge must immediately hand down a guilty verdict with a sentence. A person who pleads guilty does not waive their right to appeal their conviction; they are still permitted to request that a court of appeals overturn their plea.</p></li>
</ol>
<h2 align=center>
Civil Courts
</h1>
<ol type="b">
<li><p>Civil courts decide if a person or legal entity owes another damages.</p></li>
<li><p>A civil court is composed of a prosecution, defense, a judge.</p></li>
<li><p>The judge of a civil court determines whether or not the defendant owes the plaintiff damages.</p></li>
<li><p>Any action from which the plaintiff incurred damages at the hand of the defendant may be brought before the civil courts.</p></li>
</ol>
<h2 align="center">
Court of Appeals
</h2>
<ol type="b">
<li><p>Courts of appeals decide if a prior decision by another court was wrong.</p></li>
<li><p>A court of appeals is composed of the plaintiff and defendant from the case under review and a judge who was not involved in said case.</p></li>
<li><p>The judge of a court of appeals determines whether or not the appealed case was held fairly and legally.</p></li>
<li><p>If the appellate judge determines that a case was not held fairly and legally, the defendant must be retried under fairer circumstances as dictated by the court of appeals.</p></li>
<li><p>A decision in the court of appeals may be overruled by Parliament or by referendum.</p></li>
</ol>
<h2 align="center">
Parliament as a court of appeal.
</h2>
<ol type="b">
<li><p>Parliament is permitted to decide if a prior decision by an appellate court was wrong.</p></li>
<li><p>Parliament when acting as an appellate court is composed of all members of parliament and the plaintiff and defendant from the case under review.</p></li>
<li><p>Parliament when acting as an appellate court determines whether a prior appellate court tried the appealed case fairly and legally.</p></li>
<li><p>A decision in Parliament when acting as an appellate court my be overruled only by referendum.</p></li>
</ol>
<hr>
<h2 align="center">
Judicial Offences
</h2>
<h4 align="center">
Faliure to discharge one's duties as an agent of the court
</h4>
<p>A person commits the offence of faliure to discharge their duties as an agent of the court if:</p>
<ol type="a">
<li><p>They are one of the following:</p></li>
<ol type="b">
<li><p>An attorney representing a client in a civil or criminal trial</p></li>
<li><p>A prosecutor in a criminal trial</p></li>
</ol>
<p><b>AND</b></p>
<li><p>They satisfy all of the following criteria:</p></li>
<ol type="b">
<li><p>There is a conflict of interest or a conflict of ethical principles preventing them from performing their duty to the fullest and fairest extent required by law.</p></li>
</ol>
</ol>
<p>A person convicted of faliure to discharge their duties as an agent of the court shall be struck off from the trial they are involved in (if requested by opposing counsel) and removed from any judicial duties for a period not exceeding 8 weeks.</p>
<h4 align="center">
Perjury
</h4>
<p>A person commits the offence of perjury if they meet all the following criteria</p>
<ol type="b">
<li><p>Are involved in a trial.</p></li>
<li><p>Submit false information, documents or evidence.</p></li>
<li><p>Do so with the knowledge that their information, documents or evidence are false.</p></li>
<li><p>Do so with the intent to defraud the court or influence the result.</p></li>
</ol>
<p>A person convicted of the crime of perjury shall be penalised by being removed from the trial where the perjury was commited (if requested by the opposing side) and added to a database of perjurers for a period not exceeding 6 weeks (or more if demanded by public referenda.) People listed in this database shall have future submissions of information, documents or evidence treated with greater scrutiny.</p>
<h4 align="center">
Contempt of Court
</h4>
<p>A person commits the offense of contempt of court if they meet all the following criteria</p>
<ol type="b">
<li><p>Impede a trial from going ahead.</p></li>
<li><p>Do not have an ethical objection to the trial going forth.</p></li>
</ol>
<p>A person convicted of the crime of contempt of court shall be removed from the trial they are held in contempt of and struck of from all judicial duties for a period not exceeding 2 weeks.</p>
</div>
