<div style="max-width:8in;margin-left:auto;margin-right:auto">
<center> <h1>
    Parliament act 2023
</center> </h1>
<center> This act imposes multiple operational requirements on parliament </center>

<h2 align=center>
Quorum
</h2>
<ol type="b">
<li><p>Before engaging in any official non emergency legistlative or non legistlative duties parliament must have a quorum of at least 3 mps.</p></li>
<li><p>Under no circumstances is parliament to assume a quorum is present unless it is definitively sure that a quorum is indeed present.</p></li>
<li><p>Ghosts seats are to act as described by the old Parliamentary election reform act </p></li>
</ol>

<h2 align="center">
Referenda
</h2>
<ol type="b">
<li><p>Any official acts of parliament may be overturned by a referendum in which over a quarter floored of the population voted and over half of voters voted to overturn (explicitly abstaining does lower quorum while abstaining by default does not) lasting at least 3 days.</p></li>
</ol>

<h2 align="center"> Old exective orders pertaining to parliament</h2>
This bill revokes all executive orders pertaining to parliament passed up to the passing of this bill.
<h2 align="center">New executive orders pertaining to parliament</h2>
Unless under emergency circumstances Executive orders may not impede or otherwise impact the actions of parliament.
<h2 align="center"> Parliamentary procedure</h2>
<ol type="b">
<li><p>to introduce a new parliamentary action (passing a bill or other such official action) an MP must announce that the debate phase is starting using the following message format<br>
"CET [year]-[number] debate phase [short description] [length of debate phase and date of conclusion(not below 2 days unless an emergency act and not exceeding 14)]" (attatch the bill or any other such documentation) (this message should be forwarded to all official ceticilian main chats)</li></p>
<li><p>In this debate phase citizens and mps are to discuss changes to and offer comments on the bill, they are to change it as they go. At the end of the debate phase parliament must vote on if they should dismiss the bill, or pass the bill into law. (a motion to extend the debate phase can also be called as long as the total debate phase does not exceed 14 days) </li></p>
<li><p>At the end of each debate phase a poll is to be created in the parliamentary telegram chat on if the bill should be passed into law. MPs have the options yay, nay and abstain, if an MP neglects to vote they are counted as having "abstained-by-default" </li></p>
<li><p>A pinned message is to be maintained by the speaker of parliament in the parlimentary telegram documenting what bills are going through parliament and what stage they are in.</p></li>

</ol>
<h2 align="center"> Parliamentary offences</h2>
<h3> Chronic neglect of parliamentary duties</h3>
To commit the offence of Chronic neglect of parliamentary duties one must - <br>
    - be a member of parliament. <br>
    - have some how shirked there duties for a period of over a week or the last 3 official parliamentary actions, whichever is longer (abstaining by default on important laws may count as shirking one's duties if the courts decide on a case-by-case basis that it should).<br>
    - have intentionally shirked there duties without having a reason to do so.<br>
    <br>
Examples of actions that should be considered Chronic neglect of parliamentary duties include, not voting on important bills, not participating in debate phases for important bills or the speaker of parliament not maintaining their pinned message. <br>
<br>
A person convicted of Chronic neglect of parliamentary duties shall be expelled from parliament and banned from holding public office for a period not exceeding 3 weeks.
<h3> Contempt of Parliament </h3>
To commit the offence of Contempt of parliament one must - <br>
- Interrupt the conduct of parliament. <br>
- Not be doing so for any reason of ethics or morals. <br>
<br>
A person convicted of Contempt of parliament shall be banned from holding public office and speaking in parlimentary chats for a period not exceeding 3 weeks.

